.maincontainer{
width: 100%;
height: 100%;
/*border: 10px solid;*/


}
.header{
    width: 1450px;
    max-width: 100%;
    height: 40px;
    background-color: black;
    
    
    /*border: 10px solid;*/
    position: fixed;
    top:1%;
    z-index: 1;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
  padding: 4px;
  
  
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 90px 10px 90px;
  text-decoration: none;
}


.cafeimg{
    width: 1450px;
    height: 500px;
    position: relative;

}
.the{
            font-size: 100px;
            padding: 10px;
           position:absolute;
           top:15%;
           left:43%;
           color: white;
  }
  .cafe{
            font-size: 100px;
            padding: 10px;
           position:absolute;
           top:30%;
           left:42%;
           color: white;
  }
  .open{
            background-color: black;
           position:absolute;
           bottom:29%;
           left:4%;
           color: white;

  }
  .adr{
            
           position:absolute;
           bottom:27%;
           left:1200px;
           color: white;

  }
  .child-1{
    width: 700px;
    border: 1px soid;
    /*background-color: aliceblue;*/
    margin-left: 25%;
  }
  .sub-1{
    background-color: aliceblue;
    padding: 10px;
    font-family: sans-serif;

  }
  .text-center{
    width: fit-content;
    background-color: black;
    color: white;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
  }
  p{
    font-size: 20px;
    width: 680px;
    text-align: left;
    font-family: sans-serif;
  }
  .img1{
    width: 680px;
    height:auto;
  }
  .h3{
    text-align: left;
    font-family: sans-serif;
  }
 .grey{
    color: grey;

  }
  span{
    width: fit-content;
    max-width: 100%;
    color: white;
    background-color: black;
    padding: 4px 10px 4px  10px;
  }
  input{
    width: 680px;
    height: 60px;
    font-size: 20px;
    padding: 5px;
  }
  button{
    width: fit-content;
    max-width: 100%;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 16px;
    margin-left: 1%;
  }
  table{
    padding: 5px;
    border: 2px solid;
  }
  th{
    padding: 30px;
    border: 2px solid;
    text-decoration: none;
  }
  .footer{
    background-color: rgb(241, 241, 241);
    width: 100%;
    padding: 50px;
  }
  .sub-2{
    background-color: rgb(241, 241, 241);
    padding: 2px;
  }
  